
<div class="plats">

  <form class="form-inline">

    <label for="exampleFormControlSelect1">Type de plat: </label>
      <select class="form-control" id="exampleFormControlSelect1" #input>
        <option value="">Tout mes plats</option>
        <option value="Entree">Entrée</option>
        <option value="Plat principal">Plat principal</option>
        <option value="Dessert">Dessert</option>
        <option value="Laitage">Laitage</option>
        <option value="Boisson">Boisson</option>
        <option value="Cereales">Céréales</option>
      </select>
    <button type="submit" class="btn btn-success mb-2" (click)="changeType(input.value)">Confirmer</button>

  </form>

  <br>
  <div class="alert alert-danger text-center" role="alert" *ngIf="message">
    {{message}}
  </div>
  <br>


<table class="table table-bordered tablePlatsUser">
  <thead>
    <tr>
      <th >Libellé</th>
      <th >Type</th>
      <th >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
    class="dataRow"
    *ngFor="let plat of platsFiltres">
      <td>{{ plat?.libelle }} &nbsp;</td>
      <td>{{ plat?.typePlatLibelle }}</td>
      <td ><button class="btn btn-warning" routerLink="/plat/{{ plat?.id }}">Modifier</button> <button class="btn btn-danger" (click)="deletePlat(plat.id)">Supprimer</button> </td>
    </tr>
    <tr>
  </tbody>
</table>

