.header {
  margin-bottom: 150px;
}

.myIdentity {
  color: #2d6a4f;
}

.profilPhoto {
  width: 300px;
  border-radius: 50%;
}

.photoPerson {
  position: relative;
  margin: 0 auto;
  width: 100px;
  margin-left: 13%;
  z-index: 0;
}

.nameProfil {
  color: aliceblue;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  margin-top: -10%;
  padding: 8px;
  border-radius: 20%;
  background-color: #be6e46;
  margin-left: 36%;
  z-index: 1;
}
