.presentation
 {
   position: relative;
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   height: 300px;
 }

 .logo {
   position: relative;
   display: flex;
   width: 50%;
   align-items: center;
   justify-content: center;
   height: 300px;
 }
 .logo-log {
   width: 400px;
   padding-top: 10%;
 }

.btnLog {
  position: relative;
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: 15%;
  margin-top: -10px;
}
.btnLogOut {
  margin-right: 13%;
}
