
  <div class="presentation">
    <div class="welcome">
      <h1>Bienvenue ! <br>
        <br>
         Veuillez-vous connecter.</h1>
    </div>

    <div class="logo">
      <img src="assets/images/logos/logo-kkm-officiel-SansFond.png" alt="logo-dark" class="logo-log" />
    </div>
  </div>

  <div class="btnLog">
    <div class="btnLogIn">
      <button routerLink="/login" type="button" class="btn btn-success">Connexion</button>
    </div>
    <div class="btnLogOut">
      <button routerLink="/signin" type="button" class="btn btn-success">Inscription</button>
    </div>
  </div>

