  <div *ngIf="person">
  <div class="myIdentity">
    <h2>Mon Identité</h2>
  </div>

  <div class="photoPerson">
    <img class="profilPhoto" [src]="person?.urlPhoto"  alt="Photo de profil" />
  </div>

  <div class="nameProfil">
    <h3>{{person?.prenom}} {{person?.nom }}</h3>
    <p> </p>
</div>
</div>
<div class="buttons">
  <button routerLink="identity">Mon identité</button>
  <button routerLink="morphology">Ma morphologie</button>
  <button routerLink="person-plats">Mes plats</button>
  <button routerLink="person-plats">Trouver des plats</button>
</div>
